@import url(./fontawesome-free-6.2.0-web/css/all.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}
body {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-family: "Encode Sans Semi Condensed", sans-serif !important;
  overflow-x: hidden;
}

nav {
  list-style: none;
}
nav img {
  width: 70px;
  height: 70px;
}

nav a {
  color: black;
}
ul {
  padding-left: 30px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 150px;
}
.decline {
  padding: 5px 30px;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  border: 2px solid #3127a7
}
.accept {
  padding: 5px 30px;
  background-color: #3127a7;
  color: white;
  border-radius: 10px;
}
.accept {
  transition-duration: 0.4s;
}
.accept:hover {
  background-color: #7C74DB;
  color: #000000;
}
.decline {
  transition-duration: 0.4s;
}
.decline:hover {
  background-color: #3127a7;
  color:#ffffff
}