@import url(./fontawesome-free-6.2.0-web/css/all.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
}
body {
  background-color: #ffffff !important;
  color: #2a3362 !important;
  font-family: "Encode Sans Semi Condensed", sans-serif !important;
  overflow-x: hidden;
}

nav {
  list-style: none;
}
nav img {
  width: 70px;
  height: 70px;
}

nav a {
  color: black;
}
ul {
  padding-left: 30px;
}

.links {
  display: flex;
  justify-content: center;
  padding: 150px;
}
.decline {
  padding: 10px 40px;
  background-color: rgb(221, 219, 219);
  color: black;
  border-radius: 10px;
}
.accept {
  padding: 10px 40px;
  background-color: #3127A7;
  color: white;
  border-radius: 10px;
}
